* {
    font-family: 'Montserrat', sans-serif;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin: 44px 0 144px 76px;
}
.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}
a:hover {
    opacity: .4;
}
a:active {
    opacity: .6;
}
.login-button {
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    background: #665AE1;
    color: #FFFFFF;
    border-radius: 20.5px;
    cursor: pointer;
    border: none;
}
.logo-we-care {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}
h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}
p {
    width: 515px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    margin-top: 32px;
    margin-bottom: 65px;
}
.explore-button {
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    cursor: pointer;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
button:hover {
    opacity: .6;
}
button:active {
    opacity: .4;
}

@media screen and (max-width:740px) {
    header {
        display: none;
    }
    .logo-we-care {
        margin: 0;
        width: 100vw;
        height: 50%;
        margin-top: 31%;
        
    }
    section {
        margin: 0;
        padding: 0;
        height: 50%;
        width: 100vw;
        margin-top: 5%;
    }
    h1{
        font-size: 50px;
        line-height: 61px;
        text-align: center;
    }
    h2 {
        font-size: 30px;
        line-height: 37px;
        text-align: center;
    }
    button {
        margin: 3% auto;
        display: block;

    }
    p {
        display: none;
    }
}

@media screen and (max-width:920px) {
    header {
        width: 100vw;

    }
    
    section {
        margin: 0;
        align-items: center;
        width: 100vw;
        height: 50%;
        display: block;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    p {
        margin: 1% auto;
        text-align: justify;
    }
    .explore-button {
        margin: 2% auto;
        display: block;
    }
}





